body {
  margin: 0px;
}

.container,
.container-fluid {
  box-sizing: border-box;
  width: 100%;
  padding: 32px;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.col {
  flex-grow: 1;
}

  .col1 {
    width: 8.33333%;
  }

  .col2 {
    width: 16.6666666%;
  }

  .col3 {
    width: 24.99999%;
  }

  .col4 {
    width: 33.333333%;
  }

  .col5 {
    width: 41.666666%;
  }

  .col6 {
    width: 49.999996%;
  }

  .col7 {
    width: 58.33333%;
  }

  .col8 {
    width: 66.666664%;
  }

  .col9 {
    width: 74.999997%;
  }

  .col10 {
    width: 83.33333%;
  }

  .col11 {
    width: 91.66663%;
  }

  .col12 {
    width: 100%;
  }


.rwo,.col,.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12{
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}

@media only screen and  (max-width: 800px) and (min-width: 600px) {
  .col-tl-1 {width: 8.33%;}
  .col-tl-2 {width: 16.66%;}
  .col-tl-3 {width: 25%;}
  .col-tl-4 {width: 33.33%;}
  .col-tl-5 {width: 41.66%;}
  .col-tl-6 {width: 50%;}
  .col-tl-7 {width: 58.33%;}
  .col-tl-8 {width: 66.66%;}
  .col-tl-9 {width: 75%;}
  .col-tl-10 {width: 83.33%;}
  .col-tl-11 {width: 91.66%;}
  .col-tl-12 {width: 100%;}
}

@media only screen and (max-width: 1366px) and (min-width: 800px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 1366px) {
  .col-md-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}





