.container-fluid{
    width: 100%;
    display: block;
}

.container{
    max-width: 114rem;
    display: block;
    background-color: yellow;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1-of-1{
    width: 100%;
}

.col-1-of-2{
    width: calc(100%/2);
}

.col-1-of-3{
    width: calc(100%/3);
}

.col-1-of-4{
    width: calc(100%/4);
}

.col-1-of-5{
    width: calc(100%/5);
}

.col-1-of-6{
    width: calc(100%/6);
}

.col-1-of-7{
    width: calc(100%/7);
}

.col-1-of-8{
    width: calc(100%/8);
}

.col-1-of-9{
    width: calc(100%/9);
}

.col-1-of-10{
    width: calc(100%/10);
}

.col-1-of-11{
    width: calc(100%/11);
}

.col-1-of-12{
    width: calc(100%/12);
}

