
html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-size: 1.6rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

section{
    padding: 10rem 0;
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;   
}

.container{
    
}

/*navigation*/

nav{
    background-color: #fff;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0 , 0.02);
}

.container-nav{
    padding: 1.5rem 20rem;
    margin: 0 auto;
}

.logo{
    float: left;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.menu{
    float: right;
}

.menu li{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.menu li :hover{
    border-bottom:blue ;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 0.8rem 0.2rem;
    margin: 1rem 2rem ;
    font-size: 1.5rem;
    color: #555;
}



/*section  header */

.header{
    background-image:linear-gradient(rgb(0, 0, 0 , 0.3) , rgba(0, 0, 0, 0.3)), url(../img/intro-bg.jpg) ;    
    height: 85vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    
}

.rowtest{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50% ,-50%);
    text-align: center;
}

.h1-header{
    font-family: 'Raleway', sans-serif;
    font-size: 8rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.p-header{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 6rem;
    line-height: 3rem;
    letter-spacing: .1rem;
}


.btn{
    border-radius: 2.5rem;
    background-color:#5ca9fb;
    padding: 1.5rem 3.5rem;
    color: #fff;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

section{
    margin: 0 ;
}

.feature{
    background-color: #eee;
}

.h2-feature{
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;   
}

h2::after{
    content: "";
    display: block;
    margin:0 auto;
    margin-top: 1rem;
    height: .5rem;
    width: 6rem;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);

}

.feature-container{
    padding: 0 20rem;
    margin: 0 auto;
}

.container-feature-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;
}

.feature-card{
    text-align: center;
    padding: 0 1.5rem;
    flex-grow: 1;
    width: 20%;
}

.icon-feature{
    font-size: 3.5rem;
    background-image: linear-gradient(to left, #5ca9fb 0%, #6372ff 100%);
    border-radius: 10rem;
    color: #fff;
    padding: 3rem;
}

.h3-feature{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    
}

.p-feature{
    font-size: 1.5rem;
    color: #777;
}



/* about section*/
.about-us{
    padding: 10rem 0;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20rem;
    margin: 0 auto;
}

.about-image{
    width: 40rem;
    margin-right: 5rem;
    vertical-align: middle;
    flex-grow: 1;
}

.about-content{
    flex-grow: 1;
    width: 50%;
}

.h2-about{
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 0;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.h2-about::after{
    content: "";
    margin: 0 0;
    height: .5rem;
    width: 6rem;
    margin-top: 1.5rem;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);

}

.p-about{
    line-height: 2.5rem;
    margin: 3rem 0;
    font-size: 1.5rem;
    color: #777;
    width: 100%;
}

.h3-about{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card-list-about li::before{
    content: '\f00c';
    font-family: 'FontAwesome';
    color: #5ca9fb;
    font-size: 1rem;
    font-weight: 300;
    padding-right: 1rem;
}

.card-list-about{
    margin-right: 5rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.card-list-about li{
    margin-right: 5rem;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #777;
}


/* section services*/

.service{
    background-image: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    color: #fff;
}

.service-container{
    padding: 0 20rem;
    text-align: center;
    margin: 0 auto;
}

.p-service{
    font-size: 1.8rem;
    margin-bottom: 8rem;
}

.card-service{
    padding:  0 2rem;
}

.icon-service{
    font-size: 4.5rem;
    background-image: linear-gradient(to right ,#6372ff 0%, #5ca9fb 100%);
    border-radius: 10rem;
    padding: 3.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.05);
}

.h3-service{
    font-size: 2rem;
}


/* section gallery*/
.gallery-container{
    text-align: center;
}

.p-gallery{
    font-size: 1.5rem;
    color: #777;
}

.gallery-card{
    background-image: linear-gradient(to right ,#6372ff 0%, #5ca9fb 100%);
    position: relative;
    width: 100%;
}

.img-gallery{
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.img-gallery:hover{
    opacity: .5;
}

.p-card-gallery{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50% ,-50%);
    opacity: 0;
    color: #fff;
    font-size: 2rem;
}

.gallery-card:hover .p-card-gallery{
    opacity: 1;
}
